.photo-main-info {
  overflow: auto;
  padding: 0 0 0 10px;
}

.photo-main-info span {
  float: left;
}

.photo-title,
.photo-author {
  width: 94px;
  float: left;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
