.search-input {
    margin: 20px 0 10px 0;
}

.search-input input {
    width: 20%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
    font-size: 20px;
}